.wbdv-sticky-nav-bar {
    background-color: light blue;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.container {
    padding-top: 58px;
}

.row-styling {
    padding-top: 10px;
    padding-bottom: 10px;
}
